<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuration du bean DAO -->
    <bean id="dao" class="ma.saifdine.enset.dao.DaoImpl" />

    <!-- Configuration du bean metier avec injection par constructeur -->
    <bean id="metier" class="ma.saifdine.enset.metier.MetierImpl">
        <constructor-arg ref="dao" />
    </bean>
</beans>